.five {
	background-color: #f2f2f2;
	height: 341px;
	font-family: 'Open Sans', sans-serif;

	.green {
		background-color: #58b737;
		color: white;
	}

	h1 {
		font-size: 34px;
		font-weight: 300;
		line-height: 1.4;
		margin-bottom: 35px;
		margin-top: 35px;
		text-align: center;
	}

	input {
		height: 63px; 
		width: 403px !important;
		margin-right: 10px;
	}

	button {
		height: 63px;
		width: 272px;
		font-size: 20px;
	}
}

@media (max-width: 960px) {
	.five {
		height: 250px;
		
		.col-2 {
			margin-top: 280px;
		}

		form {
			text-align: center;
		}
	}
}

@media (max-width: 768px) {
	.five {
		height: 210px;

		.col-2 {
			margin-top: 275px;
		}

		h1 {
			margin-bottom: 15px;
			font-size: 28px;
		}

		input {
			margin: 0 auto;
			height: 43px;
			width: 310px !important;
		}

		button{
			height: 43px;
			font-size: 15px;
		}
	}
}

@media (max-width: 490px) {
	.five {
		height: 205px;

		.col-2 {
			margin-top: 230px;
		}
	}
}

@media (max-width: 480px) {
	.five {
		height: 200px;

		.col-2 {
			margin-top: 230px;
		}
	}
}

@media (max-width: 475px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 230px;
		}
	}
}

@media (max-width: 425px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 280px;
		}
	}
}

@media (max-width: 425px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 230px;
		}
	}
}

@media (max-width: 423px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 280px;
		}
	}
}

@media (max-width: 400px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 330px;
		}
	}
}

@media (max-width: 348px) {
	.five {
		height: 250px;

		.col-2 {
			margin-top: 355px;
		}
	}
}

@media (max-width: 345px) {
	.five {
		height: 280px;

		.col-2 {
			margin-top: 355px;
		}
	}
}