.four {
	height: 469px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	.money {
		height: 354px;
		width: 315px;
		margin-top: 45px;
		margin-left: 50px;
	}

	h1 {
		font-size: 32px;
		line-height: 1.4;
		padding: 15px 0;
	}

	p {
		font-size: 16px;
		line-height: 1.6;
		padding: 15px 0;
		max-width: 410px;
	}

	.p2 {
		font-size: 16px;
		line-height: 1.6;
		padding: 15px 0;
		margin-left: 35px;
	}

	.money-col {
		margin-left: -140px;
	}
}