.one {

	background-position: center top;
	background-size: cover;
	height: 688px;
	color: white;
	font-family: 'Open Sans', sans-serif;

	.logo {
		height: 128px;
		width: 166px;
		margin-top: 16px;
		margin-bottom: 10px;
	}

	h1 {
		line-height: 1.4;
		font-size: 54px;
		font-weight: 300;
	}

	p {
		line-height: 1.4;
		font-size: 20px;
		margin-top: 25px;
	}

	.email-form {
		margin-top: 45px;
	}

	.inputOne {
		margin-right: 7px;
		height: 43px;
		width: 280px !important;
	}

	.btn-lg {
		font-size: 15px !important;
		height: 43px;
		width: 178px;
		text-shadow: 1.5px 1.5px black !important;
	}
}

	#single-button {
    background-color: Transparent;
    background-repeat :no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 18px;
	}

	div.col-md-4 {
		h3 {
			font-size: 32px;
			font-weight: 300;	
		}

		label, button {
			font-weight: 400;	
			font-size: 16px;
		}
	}

	.dropdown {
		width: 450px;
	}

	div.flex-around.dropdown.dropdown-menu {
		padding: 10px;
		background-color: black;
	}

	#email-input, #pw-input {
		margin-bottom: 7px;
	}

	.col-md-4 {
		background-color: black;
		color: white;
	}



@media (max-width: 960px) {
	.one {

		h1, p {
			width: 450px;
		}

		h1 {
			font-size: 50px;
			line-height: 1.2;
		}

		.email-form {
			margin-top: 35px;

			button {
				margin-top: 3px;
			}
		}
	}
}

@media (max-width: 768px) {
	.one {
		.email-form button{
			margin-top: 10px;
			width: 280px !important;
		}

		h1, p {
			width: 315px;
		}
	}
}
