.one {
	background-image: url(/assets/landingbg.jpg);
	background-position: center top;
	background-size: cover;
	height: 688px;
	color: white;
	font-family: 'Open Sans', sans-serif;

	.logo {
		height: 128px;
		width: 166px;
		margin-top: 16px;
		margin-bottom: 10px;
	}

	h1 {
		line-height: 1.4;
		font-size: 54px;
		font-weight: 300;
	}

	p {
		line-height: 1.4;
		font-size: 20px;
		margin-top: 25px;
	}

	.email-form {
		margin-top: 45px;
	}

	.inputOne {
		margin-right: 7px;
		height: 43px;
		width: 280px !important;
	}

	.btn-lg {
		font-size: 15px !important;
		height: 43px;
		width: 178px;
		text-shadow: 1.5px 1.5px black !important;
	}
}

@media (max-width: 800px) {
	.one {
		h1, p, .email-form {
			margin-left: auto;
			margin-right: auto;
		}

		h1 {
			font-size: 50px;
			line-height: 1.2;
		}
	}	
}

@media (max-width: 930px) {
	.one {
		.email-form {
			margin-top: 35px;

			button {
				margin-top: 3px;
			}
		}
	}
}
